# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/0.pack
/.angular/cache/babel-webpack/2ecdfbed58d0087e500719520bcc86df.json
/.angular/cache/babel-webpack/9a5c70e1986577405b08c00a7e09a3db.json
/.angular/cache/babel-webpack/9ada4ce8a9397414da2d2633f76341b7.json
/.angular/cache/babel-webpack/560489ec4003684fc4f76523d2f2be6b.json
/.angular/cache/babel-webpack/864502bb2ba710ed1abf0b773dd71a19.json
/.angular/cache/babel-webpack/b4de436366a3d3d16a301563e9f87099.json
/.angular/cache/babel-webpack/dc9ad1967f7478dd4cdc3a8c97d1e016.json
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/index.pack
/.angular/cache/angular-webpack/894bb41a5d8360ea8eef3389b4ddc76febf51b45/0.pack
/.angular/cache/babel-webpack/0b28f0e89e5ee6975d2ae4eec65685e3.json
/.angular/cache/angular-webpack/894bb41a5d8360ea8eef3389b4ddc76febf51b45/1.pack
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/1.pack
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/2.pack
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/3.pack
/.angular/cache/babel-webpack/3e8d2b15ef4ca94af392d59be497f638.json
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/4.pack
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/5.pack
/.angular/cache/babel-webpack/7ac292d14ff879536139fa5274942096.json
/.angular/cache/babel-webpack/7aedfcc9a9fdb4404ccf326d5eb9580b.json
/.angular/cache/babel-webpack/7bea472c3b2f15d409405acb7e7c97d0.json
/.angular/cache/babel-webpack/9eb2ab614cb2b6a9e634cce3aa282018.json
/.angular/cache/babel-webpack/45bc21dff1c7395ef4fc2e9e1cedbf8c.json
/.angular/cache/babel-webpack/47a300a76056e07a012b9fbce63cc481.json
/.angular/cache/babel-webpack/063abdd113cb7a7f21e2d86096197b49.json
/.angular/cache/babel-webpack/414cad0d5280418b9a667e264a95d866.json
/.angular/cache/babel-webpack/1599f951d8def9863e61d72c3bcca569.json
/.angular/cache/babel-webpack/672153320a86252de5df997adcf35d64.json
/.angular/cache/babel-webpack/a6f6a4a846680d55c3c272164630c51d.json
/.angular/cache/babel-webpack/a84e4e88b2602bb1fc5cb060f6ffff3d.json
/.angular/cache/babel-webpack/dae6ae9de75adb1cfa9a8555d5b16df7.json
/.angular/cache/babel-webpack/f7ffec1f3a7fa65c4f77c1ef202c904b.json
/.angular/cache/babel-webpack/fa5750cb5caa9ec8ebb34eb8a0c18308.json
/.angular/cache/babel-webpack/fdbca9d3f3d5f5264317ee3fcd39da19.json
/.angular/cache/angular-webpack/894bb41a5d8360ea8eef3389b4ddc76febf51b45/index.pack
/.angular/cache/angular-webpack/894bb41a5d8360ea8eef3389b4ddc76febf51b45/index.pack.old
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/index.pack.old
