# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/0.pack
/.angular/cache/babel-webpack/2ecdfbed58d0087e500719520bcc86df.json
/.angular/cache/babel-webpack/9a5c70e1986577405b08c00a7e09a3db.json
/.angular/cache/babel-webpack/9ada4ce8a9397414da2d2633f76341b7.json
/.angular/cache/babel-webpack/560489ec4003684fc4f76523d2f2be6b.json
/.angular/cache/babel-webpack/864502bb2ba710ed1abf0b773dd71a19.json
/.angular/cache/babel-webpack/b4de436366a3d3d16a301563e9f87099.json
/.angular/cache/babel-webpack/dc9ad1967f7478dd4cdc3a8c97d1e016.json
/.angular/cache/angular-webpack/56387d871bc6f01491e31f95884f9cb90fbada39/index.pack
