<div class="page-default col-sm-12 col-xs-12">

  <h1>Titulo principal</h1>

  <div class="form-create col-sm-10 padding-none col-xs-12">
    <form [formGroup]="formularioCliente" class="formulario-cliente" (ngSubmit)="guardar()">
      <div class="form-group">
        <label>Identificación</label>
        <input type="text" formControlName="idenficacion" class="form-control">
      </div>
      <div class="form-group">
        <label>Nombres</label>
        <input type="text" formControlName="nombres" class="form-control">
      </div>
      <div class="form-group">
        <label>Apellidos</label>
        <input type="text" formControlName="apellidos" class="form-control">
      </div>
      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="text" formControlName="correo_electronico" class="form-control">
      </div>
      <div class="form-group">
        <label>Télefono de contacto</label>
        <input type="text" formControlName="telefono" class="form-control">
      </div>
      <div class="form-group">
        <label>Fecha de nacimiento</label>
        <input type="text" formControlName="fecha_nacimiento" class="form-control">
      </div>
      <div class="form-group">
        <label>Ocupación</label>
        <input type="text" formControlName="ocupacion" class="form-control">
      </div>
      <!--
     <div class="form-group">
        <label>Ciudades</label> 
        <input name="ciudad" id="ciudad" formControlName="ciudad" class="form-control" list="datalistOptions" placeholder="Digite para buscar su ciudad...">
        <datalist id="datalistOptions">
          <option [ngValue]="item" *ngFor="let item of ciudades">{{ item.nombre_ciudad }}</option>
        </datalist>
      </div>
      -->
      <div class="form-group">
        <label>Ciudades</label>
        <select name="ciudad" id="ciudad" formControlName="ciudad" class="form-control">
          <option [ngValue]="item" *ngFor="let item of ciudades">{{ item.nombre_ciudad }}</option>
        </select>
      </div>

      <div class="form-group guardar">
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </form>
  </div>

  <div class="table-visualization col-sm-10 padding-none col-xs-12">
    <h2> Listado de clientes registrados en el Sistema</h2>
    <table class="table">  
      <thead>
        <tr>
          <th>Identificación</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Fecha de nacimiento</th>
          <th>Ocupación</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Ciudad</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of clientes">
          <td>{{ item.idenficacion }}</td>
          <td>{{ item.nombres }}</td>
          <td>{{ item.apellidos }}</td>
          <td>{{ item.fecha_nacimiento }}</td>
          <td>{{ item.ocupacion }}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.correo_electronico }}</td>
          <td>{{ item.ciudad.nombre_ciudad }}</td>
          <td>
            <button type="button" class="btn btn-warning">Editar</button>
            <button type="button" class="btn btn-danger" (click)="borrar(item)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
