<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="menu principal titulo proyecto">
      <mat-icon>menu</mat-icon>
    </button>
    <span>APLICACIÓN  ANGULAR (FRONT-END) - JAVA SPRING MAVEN (BACK-END)</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>
</p>

<div class="page-default col-sm-12 col-xs-12">  
  <div class="form-create col-sm-10 padding-none col-xs-12">
    <h1> Formulario Creación de Clientes en el Sistema</h1>
    <form [formGroup]="formularioCliente" class="formulario-cliente col-sm-8 col-xs-12" (ngSubmit)="guardar()">
      <div class="form-group">
        <mat-form-field mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Identificación</mat-label>
          <input matInput type="text" formControlName="idenficacion" class="form-control">
        </mat-form-field>
      </div>

      <div class="form-group">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombres</mat-label>
                <input matInput type="text" formControlName="nombres" class="form-control">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput type="text" formControlName="apellidos" class="form-control">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">

        <mat-form-field mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput formControlName="correo_electronico"
                 placeholder="Ejemplo: usuario@correo.com">
        </mat-form-field>

      </div>
      <div class="form-group">
        <mat-form-field mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Télefono de contacto</mat-label>
          <input matInput type="text" formControlName="telefono" class="form-control">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput type="date" formControlName="fecha_nacimiento" class="form-control" min="1910-01-01" max="">
        </mat-form-field>
      </div>
      <div class="form-group">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>Ocupación</mat-label>
                <mat-select name="ocupacion" id="ocupacion" formControlName="ocupacion" class="form-control">
                  <mat-option *ngFor="let item of ocupaciones" [value]="item">
                    {{item.nombre_ocupacion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>Ciudades</mat-label>
                <mat-select name="ciudad" id="ciudad" formControlName="ciudad" class="form-control">
                  <mat-option *ngFor="let item of ciudades" [value]="item">
                    {{item.nombre_ciudad}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
     
     <div class="form-group">
        <label>Ciudades</label> 
        <input name="ciudad" id="ciudad" formControlName="ciudad" class="form-control" list="datalistOptions" placeholder="Digite para buscar su ciudad...">
        <datalist id="datalistOptions">
          <option [ngValue]="item" *ngFor="let item of ciudades">{{ item.nombre_ciudad }}</option>
        </datalist>
      </div>
      
      <div class="form-group guardar">
        <!--button type="submit" class="btn btn-success">Guardar</button-->
        <button type="submit" mat-raised-button color="success">Guardar</button>
      </div>
    </form>
  </div>

  <div class="table-visualization col-sm-10 padding-none col-xs-12">
    <h2> Listado de clientes registrados en el Sistema</h2>
    <table class="table">  
      <thead>
        <tr>
          <th>Identificación</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Fecha de nacimiento</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Ocupación</th>
          <th>Ciudad</th>
          <th>Viable</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of clientes">
          <td>{{ item.idenficacion }}</td>
          <td>{{ item.nombres }}</td>
          <td>{{ item.apellidos }}</td>
          <td>{{ item.fecha_nacimiento }}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.correo_electronico }}</td>
          <td>{{ item.ocupacion.nombre_ocupacion }}</td>
          <td>{{ item.ciudad.nombre_ciudad }}</td>
          <td>{{ item.viable }}</td>
          <td>
            <button type="button" class="btn btn-warning" (click)="editar(item)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="borrar(item)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>