@import '~bootstrap/dist/css/bootstrap.min.css';
h1 {
    color: red;
}


.page-default{
    padding: 2%;
}

.form-create{
    margin: 2%;
}

.table-visualization{
    margin: 5%;
    padding: 1%;
}

.formulario-cliente{
    margin: 5%;
    padding: 1%;
}

div.form-group{
    margin: 2%;
}

div.guardar{
    text-align: center;
}

td {
    text-align: center;
}

.btn{
    margin: 2%;
}